body{
  background-color: #76E5FC;
}

*
{
margin: 0;
padding: 0;
}
#cabezera{
width: auto;
height: 210px;
background-color: #4BC0D9;
}

#cabezera p{
font-size: 90px;
font-family: Impact;
text-align: center;
}

.boton{
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin-top: 40px;
  margin-left: 150px;
}
.boton p{
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
}
